@tailwind base;
@tailwind components;
@tailwind utilities;

/* Prevent scrolling */
body,
html {
  overflow: hidden;
}

/* Hide scrollbar for all browsers */
body::-webkit-scrollbar,
html::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for all browsers (cross-browser compatibility) */
body,
html {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

body {
  background-color: #0b0b0b;
  /* Darker background */
  color: #e0e0e0;
  /* Light text color */
  font-family: 'Inter', sans-serif;
  /* Professional and clean font */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* Full viewport height */
  margin: 0;
  padding: 0 20px;
  /* Padding for better mobile view */
}

.container {
  max-width: 600px;
  /* Increase max-width for more relaxed layout */
  width: 100%;
  padding: 30px;
  /* Adjust padding for cleaner look */
  background-color: #141414;
  /* Slightly lighter background for container */
  border-radius: 12px;
  /* More rounded corners */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.25);
  /* Deeper shadow for better pop */
  text-align: center;
  /* Centered text */
}

/* Loading Spinner */
.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

h1 {
  font-size: 2.5rem;
  /* Larger heading */
  margin-bottom: 1.5rem;
  color: #ff4d4d;
  /* Vibrant color for the heading */
  background: linear-gradient(90deg, #ecbcbc, #ff0000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0 0 10px rgba(255, 0, 38, 0.7), 0 0 20px rgba(255, 0, 0, 0.5);
  /* Glow effect */
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  padding: 12px;
  /* Relax padding */
  margin-bottom: 1rem;
  border: none;
  border-radius: 6px;
  font-size: 1rem;
  /* Reduce font size slightly */
  background-color: #1e1e1e;
  /* Dark input background */
  color: #e0e0e0;
  /* Light text */
  transition: all 0.3s ease-in-out;
  width: 100%;
}

input:focus {
  background-color: #292929;
  /* Slightly lighter on focus */
  outline: none;
  /* Remove default outline */
}

button {
  padding: 12px;
  /* Relax padding */
  margin-top: 0.5rem;
  /* Add margin to separate buttons */
  border: none;
  border-radius: 6px;
  font-size: 1rem;
  /* Reduce font size slightly */
  background: linear-gradient(45deg, #f30000, #ff6f61);
  /* Gradient background */
  color: #ffffff;
  /* White text */
  cursor: pointer;
  box-shadow: 0 8px 32px rgba(255, 0, 38, 0.5), 0 8px 32px rgba(255, 0, 0, 0.3);
  transition: all 0.3s ease-out;
}

button:hover {
  color: #fff;
  background-color: #f00946;
  box-shadow: 0 8px 32px rgba(255, 0, 38, 0.3), 0 8px 32px rgba(255, 0, 0, 0.1);
  transform: translateY(-2px);
  /* Slight lift on hover */
}

.button-group {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 1rem;
}

.shortened-url {
  margin-top: 1.5rem;
  font-size: 1.25rem;
  text-shadow: 0 0 5px rgba(255, 0, 51, 0.7), 0 0 10px rgba(255, 0, 0, 0.5); /* Glow effect */
  padding: 10px; /* Add padding for the box */
  background-color: #1e1e1e; /* Darker background */
  border-radius: 6px; /* Rounded corners */
}

.shortened-url a {
  color: #ff001e;
  /* Vibrant link color */
  text-decoration: none;
}

.shortened-url a:hover {
  text-decoration: underline;
}

.error-message {
  margin-top: 1rem;
  color: #ff4d4d;
  text-shadow: 0 0 5px rgba(255, 77, 77, 0.7), 0 0 10px rgba(255, 77, 77, 0.5);
  /* Red color for error message */
}

.back-button {
  margin-bottom: 20px;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

/* .back-button:hover {
} */

.url-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.url-item a {
  color: #e21c33;
  text-decoration: none;
  margin-right: 10px;
  text-shadow: 0 0 10px rgba(255, 0, 38, 0.7), 0 0 20px rgba(255, 0, 0, 0.5);
}

.url-item button {
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 8px 32px rgba(255, 0, 38, 0.3), 0 8px 32px rgba(255, 0, 0, 0.1);
}

.url-item button:hover {
  box-shadow: 0 8px 32px rgba(255, 0, 38, 0.5), 0 8px 32px rgba(255, 0, 0, 0.3);
}

/* Loading Spinner */
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@keyframes spin2 {
  0% {
    stroke-dasharray: 1, 800;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 400, 400;
    stroke-dashoffset: -200px;
  }
  100% {
    stroke-dasharray: 800, 1;
    stroke-dashoffset: -800px;
  }
}

.spin2 {
  transform-origin: center;
  animation: spin2 1.5s ease-in-out infinite,
  spin 1.3s linear infinite;
  animation-direction: alternate;
}